body{
    background-color: antiquewhite;
    text-align: center;
}

.main{
    display: flex;
}


.form-container{
max-width: 25%;
min-width: 300px;
border:solid;
padding: 5px;
margin-top: 100px;
}

.form{
    
    width:100%;
}

.form div{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    
}

.book-case{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.book{
    width:220px;
    background-color: pink;
    padding: 10px;
    text-align: center;
}

button{
    display: block;
    margin:15px auto;
}